source https://www.nuget.org/api/v2

group build

    source https://www.nuget.org/api/v2

    nuget FAKE prerelease
    nuget FSharp.Data 3.3.3
    nuget Newtonsoft.Json

	nuget Octokit
	
    nuget ILRepack 2.0.16
	
    clitool assembly-rewriter
    
    clitool assembly-differ
